[Unit]
Description=N2N Peer-to-Peer VPN network
After=network.target

[Service]
EnvironmentFile=/etc/n2n/edge.conf
ExecStartPre=tunctl -t "${N2N_IFACE}"
ExecStart=/sbin/edge -f -r -E -l "${SUPERNODE}" -c "${N2N_COMMUNITY}" -a "${ADDRESS}" -d "${N2N_IFACE}"

[Install]
WantedBy=multi-user.target